.slide-4 {
    background-color: #e88a63;
    .item-image {
        width: 10rem;
        height: 8rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/github-1.png');
    }
    .item-title {
        width: 18rem;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
    .item-text {
        width: 18rem;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: .5rem;
        text-align: center;
    }
    .item-text:active {
        background-color: rgba(255,255,255,0.5);
        border-radius: 2rem;
    }
    .first {
        top : 18rem;
    }
    .second {
        top : 20rem;
    }
    .third {
        top : 22rem;
    }
    .fourth {
        top : 24rem;
    }
}
